* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(15, 15, 15);
}

body {
  background-color: rgb(167, 166, 166);
}

.navbar {
  background: #b6b6b6;
  color:#fff;
  padding: 15px;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.navbar ul.links {
  margin-left: auto;
  margin-right: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  transition: 0.4s ease all, 0s ease background;
}
.navbar ul.links li {
  text-transform: uppercase;
  padding: 0 15px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease all, 0s ease margin;
}
.navbar ul.links li a {
  text-decoration: none;
  color: #fff;
}
.navbar ul.links li:hover {
  background: blueviolet;
  cursor: pointer;
  color: #080808;
}
.container {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.produtos-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  display: inline-block;
  margin: 1% 1%;
  padding: 15px;
}

.card img {
  height: 400px;
  width: 100%;
  margin: 10px;
  background-color: #393838;
  text-decoration: line-through;
}

footer {
  background-color: rgb(163, 162, 162);
  padding: 25px;
  text-align: center;
}
button{
  background-color: green;
  width: 40%;
  height: 40px;
  border-radius: 20px;
}
.card.carrinho{
  width: 80%;
  display: flex;
  margin: 1%  1%;
  margin-left: 100px;
  padding: 15px;
  font-size: 10px;
  color: #080808;
  text-align: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: #b6b6b6;
  border-radius: 3px;
}

.card.carrinho img{
  height: 100px;
  width: 30%;
  margin: 10px;
cursor: pointer;
border-color: white;
border-radius: 0%;
}

.card.carrinho h1{
  font-family: 'Courier New', Courier, monospace;
text-transform: uppercase;
font-size: 20px;
background-color: white;
border-radius: 3px;
padding: 5px;
margin-right: 10px;
} 
.card.carrinho h2{
  margin-left: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  text-transform: uppercase;
}
.card.carrinho button{
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  font-size: 20px;
  background-color: chartreuse;
  border-radius: 5px;
  padding: 5px;
  margin-left: 20px;
  cursor: pointer;
}